/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	padding-top: 2%;
	background-color: light-grey;
}

.rTable { display: table }
.rTableFull { width: 100%; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; padding: 3px 10px; }
.rTableCellRight { text-align: right; }
.rTableRowLabel { font-weight: bold; }

.serverNodeBlock {
	border-radius: 15px;
	margin-bottom: 10px;
	box-shadow: 0 0 50px gray;
}

.serverNodeBlockDelete { text-align: right; }

.backgroundColor0 { background-color: #dbe9d8; }
.backgroundColor1 { background-color: #c2d4d8; }
.backgroundColor2 { background-color: #f2efe8; }

.imageOsType { margin: 5px; }

.notice {
	background-color: #9af779;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: black;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	cursor: hand;
}

.container {
	border: 1px solid white;
	box-shadow: 0 0 100px silver;
	background-color: silver;
	min-height: 800px;
	padding: 15px;
}