/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.rTable { display: table }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; padding: 3px 10px; }
.rTableRowLabel { font-weight: bold; }

.serverNodeBlock { border: 1px; border-color: black; border-style: dashed; margin: 10px; }

.serverNodeBlockDelete { text-align: right; }

.backgroundColor0 { background-color: #9af779; }
.backgroundColor1 { background-color: #79a9f7; }
.backgroundColor2 { background-color: #f7c979; }